<%- include('includes/head.ejs', { title: 'Error!' }) %>
</head>
<body>
  <%- include('includes/header.ejs') %>
  <main>
    <h1>An error ocurred, post doesn't not exist!</h1>
    
  </main>
</body>
</html>